<h2>Audio Files</h2>

<% @repositories.each_with_index do |repo, idx| %>
  <h3>Repository:</h3>

  <span class="repo-path"><%= repo %></span>

  <br/><hr><br/>

  <% if @audios.blank? %>
    No audio files created from this repository...
    <br/><br/>
  <% end %>
  <%= link_to 'Sync Repository', sync_repo_path(idx), class: 'button small' %>

  <br/><hr><br/>


  <ul class="audio-list">
    <% @audios.each do |audio| %>
      <% if audio.path.index(repo) %>
        <li>
          <%= link_to audio.name, audio_path(audio) %>
        </li>
      <% end %>
    <% end %>
  </ul>

<% end %>
