// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chosen-choices {
  font-size: 14px;
}

.fade {
  opacity: 0.5;
}

.album-details {
  font-size: 24px;
}

#album-audio-list {
  border: 1px solid #dddddd;
  padding: 10px;

  & li {
    padding: 10px;
  }
  & li:nth-child(odd) {
    background-color: #eeeeee;
  }
}
