@import "foundation_and_overrides";

.chosen-choices {
  font-size: 14px;
}

.fade {
  opacity: 0.5;
}

.collection-details {
  font-size: 24px;
}

#audio-list {
  border: 1px solid #dddddd;
  padding: 10px;

  & li {
    padding: 10px;
  }
  & li:nth-child(odd) {
    background-color: #eeeeee;
  }
}

.collection-link {
  color: $primary-color !important;
}

#g_current_audio {
  max-width: 250px;
  text-overflow: ellipsis;
}
